<a class ="graph-nav" href="{{ path('graph_schema', {'depth': depth > 1 ? depth-1 : depth, 'class' : class }) }}">Zoom In</a>
<a class ="graph-nav" href="{{ path('graph_schema', {'depth': depth+1, 'class' : class }) }}">Zoom Out</a>
